.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding-bottom: 24px;
  }

  .close_btn {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate( -52px, 12px);
    width: 30px;
    height: 30px;
    /* background-color: var(--hover-txt-btn); */
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 1;

  }

  .close_btn_icon {
    fill: #fff;
    width: 32px;
    height: 32px;
    cursor: pointer;

    
  }
  .close_btn_icon:hover, .close_btn_icon:focus {
    fill: rgb(5, 77, 179);
 

  }
  
  .largeImageURL{
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
    position: relative;
  }

